
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  background: url(https://images3.alphacoders.com/570/57007.jpg) no-repeat center center fixed;
  background-size: cover;
}

span{
  margin-right: 5px;
  font-size: 80px;
}

span:last-child{
  margin: auto;
}

.container{
  margin-top: 80px;
}

#guess-label{
  font-size: 24px;
  color: white;
}

#guesses-remaining-holder{
  display: inline-block;
}

section{
  display: inline-block;
}

#letter{
margin-left: 29px;
}

p{
  background-color: white;
  display: inline-block;
}
